html {
  font-family: "Helvetica", sans-serif;
}
body {
  text-align: center;
}
.intro {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-weight: bold;
  font-size: 70px;
}
ul {
  list-style-type: none;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
#process {
  color: gray;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.newyork {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
#work {
  color: gray;
}
#team {
  color: gray;
}
#contact {
  color: gray;
}
.copyright {
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  display: inline;
}
ul li {
  display: inline;
}
